.container{
    display: flex;
    background-color: yellow;
    flex-wrap: wrap;
}

.a{
    min-width: 500px;
    height: 150px;
    background-color: blue;
    flex-grow: 1;
}

.b{
    min-width: 500px;
    height: 150px;
    background-color: red;
    flex-grow: 1;
}

.c{
    min-width: 500px;
    height: 150px;
    background-color: green;
    flex-grow: 1;
}