a:link{
    color: green;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    background-color: brown;
}

a:visited{
    color: blue;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    ackground-color: brown;
}

a:hover{
    color: red;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    ackground-color: brown;
}

a:active{
    color: yellow;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    ackground-color: brown;
}

